:root {
  --neutral-background-neutral-sand-100: #fdfaf7;
  --light-blue-other-accent-500: #8cb3d8;
  --neutral-background-neutral-olive-100: #f3f7f5;
  --neutral-background-neutral-light-blue: #cce6e3;
  --neutral-background-neutral-olive-main-500: #d6e3dd;
  --secundary-accent-secundary-accent-200: #d3e5c1;
  --secundary-accent-secundary-accent-main-500: #a6cb83;
  --secundary-accent-secundary-accent-800: #8bb866;
  --alert-success: #85daa7;
  --alert-warning: #fee384;
  --alert-error: #9e2f2f;
  --neutral-background-neutral-sand-main-500: #f9efe3;
  --neutral-background-neutral-sand-900: #f5e4d0;
  --neutral-background-neutral-olive-900: #bcd0c7;
  --secundary-accent-secundary-accent-100: #e4efda;
  --secundary-accent-secundary-accent-300: #c1dba8;
  --secundary-accent-secundary-accent-400: #b3d396;
  --secundary-accent-secundary-accent-600: #9ec67b;
  --secundary-accent-secundary-accent-700: #95be70;
  --secundary-accent-secundary-accent-900: #7bac53;
  --primary-blue-primary-blue-100: #c0c8d6;
  --primary-blue-primary-blue-200: #96a4ba;
  --primary-blue-primary-blue-300: #6c7f9e;
  --primary-blue-primary-blue-400: #4d638a;
  --primary-blue-primary-blue-main-500: #2d4875;
  --primary-blue-primary-blue-600: #28416d;
  --primary-blue-primary-blue-700: #223862;
  --primary-blue-primary-blue-800: #1c3058;
  --primary-blue-primary-blue-900: #112145;
  --primary-green-primary-green-100: #cbe6e3;
  --primary-green-primary-green-200: #a9d6d0;
  --primary-green-primary-green-300: #86c5bd;
  --primary-green-primary-green-400: #6cb8ae;
  --primary-green-primary-green-main-500: #00afa1;
  --primary-green-primary-green-600: #00a08f;
  --primary-green-primary-green-700: #009382;
  --primary-green-primary-green-800: #008271;
  --primary-green-primary-green-900: #007262;
  --neutral-gray-colors-neutral-black: #000;
  --neutral-gray-colors-neutral-dark-grey: #111;
  --neutral-gray-colors-neutral-dark-medium-grey: #676a6a;
  --neutral-gray-colors-neutral-dark-light-grey: #959b9b;
  --neutral-gray-colors-neutral-medium-grey: #c0c8c8;
  --neutral-gray-colors-neutral-medium-light-grey: #e6ebeb;
  --neutral-gray-colors-neutral-white: #fff;
  --special-colors-special-contrast: #dcae70;
  --transparent-white: rgba(255, 255, 255, 0.9);
  --primary-blue-primary-blue-900-transparent:  rgba(17, 33, 69, 0.7);
  --center-shadow: 0px 0px 4px rgba(192, 200, 214, 0.25);
  --leftbottom-shadow: 4px 4px 4px rgba(192, 200, 214, 0.25);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
p {
  line-height: 19.6px;
}

@font-face {
  font-family: "Montserrat";
  src: url("../assets/fonts/Montserrat/Montserrat-VariableFont_wght.ttf")
      format("truetype"),
    url("../assets/fonts/Montserrat/static/Montserrat-Black.ttf")
      format("truetype"),
    url("../assets/fonts/Montserrat/static/Montserrat-ExtraLight.ttf")
      format("truetype"),
    url("../assets/fonts/Montserrat/static/Montserrat-Light.ttf")
      format("truetype"),
    url("../assets/fonts/Montserrat/static/Montserrat-Medium.ttf")
      format("truetype"),
    url("../assets/fonts/Montserrat/static/Montserrat-Regular.ttf")
      format("truetype"),
    url("../assets/fonts/Montserrat/static/Montserrat-SemiBold.ttf")
      format("truetype"),
    url("../assets/fonts/Montserrat/static/Montserrat-Thin.ttf")
      format("truetype");
}
@font-face {
  font-family: "Radley";
  src: url("../assets/fonts/Radley/Radley-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto";
  src: url("../assets/fonts/Roboto/Roboto-Regular.ttf") format("truetype");
}

*::-webkit-scrollbar {
  width: 0.5rem;
}

*::-webkit-scrollbar-track {
  background: var(--neutral-background-neutral-sand-200);
}

*::-webkit-scrollbar-thumb {
  background: var(--neutral-gray-colors-neutral-medium-light-grey);
  border-radius: 0.5rem;
}

*::-webkit-scrollbar-thumb:hover {
  background: var(--primary-blue-primary-blue-100);
}



@font-face {
  font-family: 'medismart';
  src:  url('../assets/fonts/MedismartIcons/medismart.eot');
  src:  url('../assets/fonts/MedismartIcons/medismart.eot') format('embedded-opentype'),
    url('../assets/fonts/MedismartIcons/medismart.ttf') format('truetype'),
    url('../assets/fonts/MedismartIcons/medismart.woff') format('woff'),
    url('../assets/fonts/MedismartIcons/medismart.svg') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'medismart' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* *[class^="icon-"]:before, *[class*=" icon-"]:before {
  font-size: 24px;
} */

.icon-search:before {
  content: "\e91a";
}
.icon-eye:before {
  content: "\e900";
}
.icon-eye-off:before {
  content: "\e901";
}
.icon-signal:before {
  content: "\e902";
}
.icon-chevron-up:before {
  content: "\e903";
}
.icon-chevron-down:before {
  content: "\e904";
}
.icon-download:before {
  content: "\e905";
}
.icon-check:before {
  content: "\e906";
}
.icon-plus:before {
  content: "\e907";
}
.icon-plus-circle:before {
  content: "\e908";
}
.icon-x:before {
  content: "\e909";
}
.icon-x-circle:before {
  content: "\e90a";
}
.icon-check-circle:before {
  content: "\e919";
}
.icon-exclamation-circle:before {
  content: "\e90b";
}
.icon-information:before {
  content: "\e90c";
}
.icon-refresh:before {
  content: "\e90d";
}
.icon-chat:before {
  content: "\e90e";
}
.icon-calendar:before {
  content: "\e90f";
}
.icon-device-mobile:before {
  content: "\e910";
}
.icon-mail:before {
  content: "\e911";
}
.icon-edit:before {
  content: "\e912";
}
.icon-trash:before {
  content: "\e913";
}
.icon-hearth:before {
  content: "\e914";
}
.icon-star:before {
  content: "\e915";
}
.icon-coupon:before {
  content: "\e916";
}
.icon-user:before {
  content: "\e917";
}
.icon-pet:before {
  content: "\e918";
}
/* .loading {
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading span {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-right: 10px;
  border-radius: 50%;
  background-color: #ccc;
  animation: loading 1s ease-in-out infinite;
}

.loading span:nth-child(1) {
  animation-delay: 0.2s;
}

.loading span:nth-child(2) {
  animation-delay: 0.4s;
}

.loading span:nth-child(3) {
  animation-delay: 0.6s;
}

@keyframes loading {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.5);
    opacity: 0.5;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.loading span.active {
  background-color: #007bff;
} */
